<!-- 
<div class="container mx-auto">
  <h1 class="text-2xl font-bold mb-4">Voyage Table</h1>

  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">Nom</th>
        <th class="py-2 px-4 border-b">Destination</th>
        <th class="py-2 px-4 border-b">Prix Initial</th>
        <th class="py-2 px-4 border-b">Villes</th>
        <th class="py-2 px-4 border-b">Image</th>
        <th class="py-2 px-4 border-b">Places Possibles</th>
        <th class="py-2 px-4 border-b">Enter reserve</th>
        <th class="py-2 px-4 border-b">Reserver</th>
      </tr>
    </thead>
    <tbody>
      <form [formGroup]="form" action="" (submit)="onSubmit()">
      <tr *ngFor="let v of voyages">
        <td class="py-2 px-4 border-b">{{ v.nom }}</td>
        <td class="py-2 px-4 border-b">{{ v.destination }}</td>
        <td class="py-2 px-4 border-b">{{ v.prixinitial }}</td>
        <td class="py-2 px-4 border-b">{{ v.villes }}</td>
        <td class="py-2 px-4 border-b" *ngFor="let i of v.images">
          <img src="{{i.url}}">
        </td>
        <td class="py-2 px-4 border-b">{{ v.placepossible }}</td>
        
          <td><input type="number" class="border rounded w-full py-2 px-3" formControlName="reserve" max="{{v.placepossible}}"></td>
          <td class="py-2 px-4 border-b">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Reserver
            </button>
          </td>
      
      </tr>
    </form>
    </tbody>
  </table>
</div> -->


<!-- Dialog Box 
<div *ngIf="showDialog" class="fixed inset-0 z-10 flex items-center justify-center">
  <div class="bg-white p-8 rounded shadow-md">
    <p class="text-xl font-semibold mb-4">Reservation Dialog</p>
    <p>You are about to reserve the voyage.</p>
    <div class="mt-4 flex justify-end">
      <form [formGroup]="form" (submit)="onSubmit()" id="voyageForm" class="bg-white p-8 rounded shadow-md w-96">
        <div class="mb-4">
          <label for="numberOfPeople" class="block text-gray-700 text-sm font-bold mb-2">Number of People:</label>
          <input type="number" id="numberOfPeople" name="numberOfPeople" min="1" required class="border rounded w-full py-2 px-3" formControlName="numberOfPeople">
        </div>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="closeReservationDialog()">
          Close
        </button>
        <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600">Reserve Voyage</button>
      </form> 
      
    </div>
  </div>
</div>
-->




<div class="container mx-auto">

  <h1 class="text-2xl font-bold mb-4">Voyage Cards</h1>
  <form [formGroup]="form" action="" (submit)="onSubmit()">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div *ngFor="let v of voyages" class="bg-white p-4 border border-gray-300 rounded-lg" (click)="getVoyage(v)">
        <div class="mb-4">
       
          <ngb-carousel *ngIf="v.images">
            <ng-template ngbSlide *ngFor="let i of v.images">
                <img [src]="i.url" class="w-full h-32 object-cover rounded-lg">
            </ng-template>
          </ngb-carousel>
          
        </div>
        <div class="mb-2">
          <span class="font-bold text-lg">{{ v.nom }}</span>
          <span class="text-gray-500 ml-2">{{ v.destination }}</span>
        </div>
        <div class="mb-2">
          <span class="font-bold">Prix Initial: </span>
          <span>{{ v.prixinitial }}</span>
        </div>
        <div class="mb-2">
          <span class="font-bold">Villes: </span>
          <span>{{ v.villes }}</span>
        </div>
        <div class="mb-2">
          <span class="font-bold">Places Possibles: </span>
          <span>{{ v.placepossible }}</span>
        </div>

        <div class="mb-2">
          <label for="reserve" class="font-bold">Enter Nombre de place : </label>
          <input type="number" class="border rounded w-full py-2 px-3" formControlName="reservePlaces"
            max="{{v.placepossible}}">
        </div>
       
        <div class="mb-2">
          <label for="reserve" class="font-bold">Enter Nombre de repas : </label>
          <input type="number" class="border rounded w-full py-2 px-3" formControlName="reserveRepas">
        </div>
        
        <div class="mb-2">
          <label for="reserve" class="font-bold">Enter Nombre de chambre : </label>
          <input type="number" class="border rounded w-full py-2 px-3" formControlName="reserveChambre"
            min="4" max="5">
        </div>
        <div>
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Reserver
          </button>
        </div>
      </div>
    </div>
  </form>
</div>



<div class="container mx-auto">
  <h1 class="text-2xl font-bold mb-4">Voyage Table</h1>

  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">Nom</th>
        <th class="py-2 px-4 border-b">Destination</th>
        <th class="py-2 px-4 border-b">Prix Initial</th>
        <th class="py-2 px-4 border-b">Villes</th>
        <th class="py-2 px-4 border-b">Image</th>
        <th class="py-2 px-4 border-b">Places Possibles</th>
        <th class="py-2 px-4 border-b">Repas</th>
        <th class="py-2 px-4 border-b">Chambre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of reservedList">
        <td class="py-2 px-4 border-b">{{ v.nom }}</td>
        <td class="py-2 px-4 border-b">{{ v.destination }}</td>
        <td class="py-2 px-4 border-b">{{ v.prixinitial }}</td>
        <td class="py-2 px-4 border-b">{{ v.villes }}</td>
        
        <td class="py-2 px-4 border-b">
          <ngb-carousel *ngIf="v.images">
            <ng-template ngbSlide *ngFor="let i of v.images">
                <img [src]="i.url" class="w-full h-32 object-cover rounded-lg">
            </ng-template>
          </ngb-carousel>
        </td>
        <td class="py-2 px-4 border-b">{{ v.placepossible }}</td>  
        <td class="py-2 px-4 border-b">{{ reservedRepas }}</td>  
        <td class="py-2 px-4 border-b">{{ reservedChambre }}</td>
      </tr>
    </tbody>
  </table>
</div> 
